@charset "UTF-8";

.l-w1200 {
  max-width: 1200px;
}

.l-w1000 {
  max-width: 1000px;
}

.l-header {
  padding: 30px 0;
  width: 100%;
  position: fixed;
}

.l-main {
  padding: 30px 0;
  width: 100%;
  position: fixed;
}

.l-footer {
  padding: 30px 0;
  width: 100%;
  position: fixed;
}
